<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
{% block title %}{% endblock %}
<main>
<section>
{% block resume %}{% endblock %}
{% block product %}{% endblock %}
</section>
{% block contact %}{% endblock %}
</main> 
</body>
</html>

 