{# {% extends 'layout.twig' %}
{% endblock %} #}

{% include "layout.twig" %}
<h1> Ceci n'est pas une blague</h1>
<h2>Enorme merci à la personne qui m'aide à faire apparaitre ce petit bazar</h2>-

    <title>C quand même trop cool!!</title>

    


<h1>Ceci est le titre du contenu </h1>
{# 
{% block content %}
{% endblock %} #}
